<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="menu-vertical-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `menu-vertical-component`
     * menu vertical comoponent
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MenuVerticalComponent extends Polymer.Element {
      static get is() { return 'menu-vertical-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'menu-vertical-component'
          }
        };
      }
    }

    window.customElements.define(MenuVerticalComponent.is, MenuVerticalComponent);
  </script>
</dom-module>
